<!DOCTYPE html>
<html lang="en">
<head>
    <title>Restyled Rack!</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
    <style>
        body {
            background: url('/images/Copy of ReStyled White Logo (900 x 450 px) (3).png') no-repeat bottom ;
            background-size: 80%;
            background-position: center;
            border: turquoise 10px solid ;
            border-radius: 25px;
            /* border-bottom: 440; */

            box-shadow: hotpink 0px 0px 55px;
        }
    </style>

</head>
<body>
    <div class="container text-center mt-1">
        <h1 class="display-4">Restyled Rack</h1>
        <h2 class="display-5"></h2>
    </div>
    <div class="container2 text-center mt-2">
        <h3 class="display-6">Why Pay Retail When you can Buy Resale</h3>
        <p class="lead">Manage your costume budget with ease!</p>
        <a href="/costumes" class="btn btn-primary btn-lg mt-3">Go to Costumes</a>
    </div>
    <
</body>
</html>
